extends layout

block content
  form(role='form', action="/files", method="post")
    textarea#editor(name="content")= content
    button.btn.btn-default(type='submit') Submit
    &nbsp;
    a(href='/')
      button.btn.btn-primary(type="button") Cancel

block scripts
    script(src='//cdn.jsdelivr.net/ace/1.2.3/min/ace.js')
    script(src='/scripts/ace.js')
