html, body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 1rem;
}

#editor-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.CodeMirror {
  height: 400px;
}
